<h1> <%= @employee.name %> </h1>

<p> Alias: <%= @employee.alias %> </p>
<p> Title: <%= @employee.title %> </p>
<p> Office: <%= @employee.office %> </p>
<p> Dog: <%= @employee.dog.name %> </p> 
<%# <p> Picture: <br>
<%= image_tag(@employee.img_url) %> 
</p>

<%= link_to "Edit Employee", edit_employee_path%> 