<h1>Name: <%= @dog.name %></h1>

<h2>Breed: <%= @dog.breed%></h2>

<h2>Age: <%= @dog.age.capitalize%></h2>

<h2><%= @dog.name %> is connected with <%= pluralize(@dog.employees.count, "employee")%>:</h2>

<ol>
  <% @dog.employees.each do |employee| %>
    <li><%= employee.name %></li>
  <% end %>
</ol>

<p><%= link_to "Back to all dogs", dogs_path %></p>